<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Resultado de Búsqueda de Compositor</title>
    <link rel="stylesheet" th:href="@{../styles.css}">
</head>

<body>
    <div class="container">
        <h1>😡 500 ERROR.</h1>

        <header th:replace="~{/header.html::miHeader}"></header>

        <img src="https://i.blogs.es/e8d61f/videos-con-musica-movil/840_560.jpg" alt="INICIO" style="width: 100%; border-radius: 5px;">
    </div>
</body>

</html>